<div class="mat-elevation-z8">
    <ng-container [formGroup]="parentForm">
    <table mat-table formArrayName="mtbl" [dataSource]="dataSource" aria-label="Elements">
    <ng-container matColumnDef="line">
      <th mat-header-cell *matHeaderCellDef>行番号</th>
      <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
      <mat-form-field style="width:3em;">
        <input matInput [value]="frmArr.getRawValue()[i]['line']" class="i_num" disabled>
      </mat-form-field>
      </td>
    </ng-container>
    <!-- <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef>受付日</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field>
        <input matInput formControlName="day" (blur)="updateList(i, 'day', row.day)">
      </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="sday">
      <th mat-header-cell *matHeaderCellDef>出荷日</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field>
        <input matInput formControlName="sday" (blur)="updateList(i, 'sday', row.sday)">
      </mat-form-field>
      </td>
    </ng-container> -->
    <ng-container matColumnDef="gcode">
      <th mat-header-cell *matHeaderCellDef>商品コード</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field>
        <input [tabIndex]="(i + 1) * 100 + 1" matInput formControlName="gcode" (change)="updGds(i,$event.target.value)" maxlength="20">
      </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="gtext">
      <th mat-header-cell *matHeaderCellDef>商品テキスト</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field style="width:20em;">
        <input [tabIndex]="(i + 1) * 100 + 2" matInput formControlName="gtext">
      </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="suu">
      <th mat-header-cell *matHeaderCellDef>数量</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field style="width:4em;">
        <input type="number" [tabIndex]="(i + 1) * 100 + 3" matInput formControlName="suu" class="i_num">
      </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="iriunit">
      <th mat-header-cell *matHeaderCellDef>単位</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field style="width:4em;">
        <input matInput [value]="frmArr.getRawValue()[i]['teika']" disabled>
      </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="teika">
      <th mat-header-cell *matHeaderCellDef>定価</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field style="width:6em;">
        <input matInput [value]="frmArr.getRawValue()[i]['teika'] | number" class="i_num" disabled>
      </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="tanka">
      <th mat-header-cell *matHeaderCellDef>単価</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field style="width:6em;">
        <input matInput [tabIndex]="(i + 1) * 100 + 4" formControlName="tanka" numInput class="i_num">
      </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="money">
      <th mat-header-cell *matHeaderCellDef>金額</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field style="width:6em;">
        <input matInput [value]="frmVal(i,'money') | number" class="i_num" disabled>
      </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="taxkbn">
      <th mat-header-cell *matHeaderCellDef>税区分</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field style="width:4em;">
        <mat-select #msel2 formControlName="taxkbn" required (keyup.enter)="msel2.close()">
          <mat-option *ngFor="let sval of bunsrv.mtax" [value]="sval.value">
            {{sval.viewval}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="spec">
      <th mat-header-cell *matHeaderCellDef>特殊在庫</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field>
        <input matInput [value]="frmArr.getRawValue()[i]['spec']" disabled>
      </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="mbikou">
      <th mat-header-cell *matHeaderCellDef>明細備考</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field>
        <input matInput formControlName="mbikou">
      </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="zaiko">
      <th mat-header-cell *matHeaderCellDef>在庫数</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field style="width:6em;">
        <input matInput [value]="frmArr.getRawValue()[i]['zaiko'] | number" class="i_num" disabled>
      </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="jyuzan">
      <th mat-header-cell *matHeaderCellDef>受注残</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field style="width:6em;">
        <input matInput [value]="frmArr.getRawValue()[i]['jyuzan'] | number" class="i_num" disabled>
      </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="taxmoney">
      <th mat-header-cell *matHeaderCellDef>消費税金額</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field style="width:6em;">
        <input matInput formControlName="taxmoney" [tabIndex]="(i + 1) * 100 + 6" (blur)="updateList(i, 'taxmoney')" class="i_num">
      </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="genka">
      <th mat-header-cell *matHeaderCellDef>原価</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field style="width:6em;">
        <input matInput formControlName="genka" (blur)="updateList(i, 'genka')" class="i_num">
      </mat-form-field>
      </td>
    </ng-container>
    <!-- <ng-container matColumnDef="tintanka">
      <th mat-header-cell *matHeaderCellDef>税込み単価</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field>
        <input matInput formControlName="tintanka" disabled>
      </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="touttanka">
      <th mat-header-cell *matHeaderCellDef>税抜き単価</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field>
        <input matInput formControlName="touttanka" disabled>
      </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="taxtanka">
      <th mat-header-cell *matHeaderCellDef>消費税単価</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field>
        <input matInput formControlName="taxtanka" disabled>
      </mat-form-field>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="toutmoney">
      <th mat-header-cell *matHeaderCellDef>税抜き金額</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field>
        <input matInput formControlName="toutmoney" disabled>
      </mat-form-field>
      </td>
    </ng-container> -->
    <ng-container matColumnDef="tinmoney">
      <th mat-header-cell *matHeaderCellDef>税込み金額</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field style="width:6em;">
        <input matInput [value]="frmVal(i,'tinmoney') | number" disabled class="i_num">
      </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="souko">
      <th mat-header-cell *matHeaderCellDef>倉庫コード</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field>
        <mat-select formControlName="souko">
        <mat-option *ngFor="let sval of soksrv.scds" [value]="sval.value">
          {{sval.viewval}}
        </mat-option>
      </mat-select>
      </mat-form-field>
      </td>
    </ng-container>  
    <ng-container matColumnDef="taxrate">
      <th mat-header-cell *matHeaderCellDef>消費税率</th>
      <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
      <mat-form-field style="width:4em;">
        <mat-select #msel3 formControlName="taxrate" required (keyup.enter)="msel3.close()" class="i_num">
          <mat-option *ngFor="let sval of bunsrv.taxrt" [value]="sval.value">
            {{sval.viewval}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </ng-container> 
  <mat-paginator  [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons ></mat-paginator>
  </div>  
