<div class="mat-elevation-z8">
    <ng-container [formGroup]="parentForm">
        <table mat-table formArrayName="mtbl" [dataSource]="dataSource" aria-label="Elements">
            <ng-container matColumnDef="line" sticky>
                <th mat-header-cell *matHeaderCellDef>行番号
                    <button mat-icon-button (click)="insRow(0)" *ngIf="frmArr.enabled">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                    <mat-form-field style="width:5em;">
                        <input matInput [value]="frmArr.getRawValue()[i]['line']" class="i_num" disabled>
                        <button mat-icon-button matPrefix (click)="insRow(i)" *ngIf="frmArr.enabled">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                        <button mat-icon-button matPrefix (click)="delRow(i)" *ngIf="frmArr.enabled">
                            <mat-icon>remove_circle</mat-icon>
                        </button>
                    </mat-form-field>
                </td>
                <ng-container matColumnDef="ptype">
                    <th mat-header-cell *matHeaderCellDef>支払方法</th>
                    <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
                        <mat-form-field style="width:6em;">
                            <mat-select formControlName="ptype" required>
                                <mat-option *ngFor="let sval of bunsrv.kbn.ptype" [value]="sval.value">
                                    {{sval.viewval}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="nmoney">
                    <th mat-header-cell *matHeaderCellDef class="i_num">入金額</th>
                    <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
                        <mat-form-field style="width:6em;">
                            <input matInput formControlName="nmoney" numInput class="i_num" (change)="calcMei(i)">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="smoney">
                    <th mat-header-cell *matHeaderCellDef class="i_num">出金額</th>
                    <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
                        <mat-form-field style="width:6em;">
                            <input matInput formControlName="smoney" numInput class="i_num">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="tmoney">
                    <th mat-header-cell *matHeaderCellDef class="i_num">調整額</th>
                    <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
                        <mat-form-field style="width:6em;">
                            <input matInput formControlName="tmoney" numInput class="i_num">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef class="i_num">合計</th>
                    <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
                        <mat-form-field style="width:6em;">
                            <input matInput [value]="frmArr.getRawValue()[i]['total']" class="i_num" disabled>
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="mmemo">
                    <th mat-header-cell *matHeaderCellDef>明細備考</th>
                    <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
                        <mat-form-field>
                            <input matInput formControlName="mmemo">
                        </mat-form-field>
                    </td>
                </ng-container>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </ng-container>
</div>