.mat-elevation-z8 {
    margin-bottom: 10px;
}
.mat-cell, .mat-footer-cell, .mat-header-cell{
    padding: 5px;
}
.mat-table {
    overflow-x: scroll;
    display: table;
}
::ng-deep.mat-select-disabled .mat-select-arrow {
    border: none !important;
}

::ng-deep.mat-select-disabled .mat-select-value {
    color: black;
}