<form formGroupName="{{formName}}" ngNativeValidate class="flex flex-wrap space-x-4">
    <mat-checkbox *ngIf="formName !== 'addr'" formControlName="target">ＤＭ一括送信対象</mat-checkbox>
    <mat-form-field>
        <mat-label>郵便番号(ハイフンなし)</mat-label>
        <input tabIndex="101" matInput formControlName="zip" [required]="this.formName!='addr1'" size="7" maxlength="7"
            (change)="getAdr($any($event))">
        <!-- <button mat-button matSuffix mat-stroked-button aria-label="get" (click)="address.complete()">
            住所補完
        </button> -->
    </mat-form-field>
    <mat-form-field>
        <mat-label>都道府県</mat-label>
        <input tabIndex="102" matInput formControlName="region" [required]="this.formName!='addr1'">
    </mat-form-field>
    <mat-form-field>
        <mat-label>市区町村</mat-label>
        <input tabIndex="103" matInput formControlName="local" [required]="this.formName!='addr1'">
    </mat-form-field>
    <mat-form-field>
        <mat-label>町名・番地</mat-label>
        <input tabIndex="104" matInput formControlName="street">
    </mat-form-field>
    <mat-form-field>
        <mat-label>マンション・ビル名</mat-label>
        <input tabIndex="105" matInput formControlName="extend">
    </mat-form-field>
    <mat-form-field *ngIf="formName !== 'addr0'">
        <mat-label>道場名</mat-label>
        <input tabIndex="106" matInput formControlName="extend2">
    </mat-form-field>
    <mat-form-field>
        <mat-label>電話番号</mat-label>
        <input tabIndex="107" matInput formControlName="tel" (change)="updTel('tel',$any($event))"
            [required]="this.formName!='addr1'">
    </mat-form-field>
    <mat-form-field>
        <mat-label>電話番号2</mat-label>
        <input tabIndex="108" matInput formControlName="tel2" (change)="updTel('tel2',$any($event))">
    </mat-form-field>
    <mat-form-field>
        <mat-label>電話番号3</mat-label>
        <input tabIndex="109" matInput formControlName="tel3" (change)="updTel('tel3',$any($event))">
    </mat-form-field>
    <mat-form-field>
        <mat-label>FAX番号</mat-label>
        <input tabIndex="110" matInput formControlName="fax" (change)="updTel('fax',$any($event))">
    </mat-form-field>
    <mat-form-field style="width:20em">
        <mat-label>住所宛名</mat-label>
        <input tabIndex="111" matInput formControlName="adrname" [required]="this.formName!='addr1'">
    </mat-form-field>
    <mat-form-field style="width:4em;">
        <mat-label>敬称</mat-label>
        <mat-select formControlName="htitle">
            <mat-option *ngFor="let sval of bunsrv.kbn['htitle']" [value]="sval.value">
                {{sval.viewval}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="del">削除済</mat-checkbox>
    <div class="flex flex-wrap" style="width: 100%;">
        <mat-form-field class="txtar">
            <mat-label>納品書備考</mat-label>
            <textarea matInput formControlName="nmemo" cdkTextareaAutosize></textarea>
        </mat-form-field>
        <mat-form-field class="txtar">
            <mat-label>出荷指示書備考</mat-label>
            <textarea matInput formControlName="smemo" cdkTextareaAutosize></textarea>
        </mat-form-field>
        <mat-form-field class="txtar">
            <mat-label>送り状備考</mat-label>
            <textarea matInput formControlName="omemo" cdkTextareaAutosize></textarea>
        </mat-form-field>
    </div>
</form>