<mat-toolbar [color]="mode==3 ? 'primary' : mode==2 ? 'warn' : 'accent'" class="toolbar mat-elevation-z8">
  <div class="icon-area" fxLayout="row wrap">
    <button mat-button (click)="modeToCre()" *ngIf="mode==3">
      <mat-icon>add_box</mat-icon>新規
    </button>
    <button mat-button (click)="modeToUpd()" *ngIf="mode==3 && this.denno">
      <mat-icon>edit</mat-icon>編集
    </button>
    <button mat-button (click)="save()" [disabled]="form.invalid" *ngIf="mode!=3">
      <mat-icon matTooltip="{{getInvalid()}}" matTooltipClass="ttips">save</mat-icon>保存
    </button>
    <button mat-button (click)="cancel()" *ngIf="mode!=3">
      <mat-icon>cancel</mat-icon>中止
    </button>
    <mat-form-field fxFlex="0 0 12em" fxFlexAlign="end" class="frm-fld-in-bar">
      <mat-label>発注伝票番号</mat-label>
      <input matInput [(ngModel)]="denno" (keyup.enter)="onEnter()" (keydown.f4)="dennoHelp()" maxlength="10"
        (blur)="onEnter()" [ngModelOptions]="{standalone: true}" [disabled]="mode==1">
      <button mat-button mat-icon-button matSuffix (click)="dennoHelp()" *ngIf="mode==3">
        <mat-icon>find_replace</mat-icon>
      </button>
    </mat-form-field>
    <button mat-button (click)="test(1)" [style.display]="mode==1 ? 'none' : 'inline-block'">
      <mat-icon>history</mat-icon>操作ログ
    </button>
    <a id="csv-donwload" data-type="text/csv"></a>
    <button mat-button [matMenuTriggerFor]="papermenu" *ngIf="mode==3">
      <mat-icon>description</mat-icon>帳票
    </button>
    <mat-menu #papermenu="matMenu">
      <button mat-menu-item (click)="download_csv('SUPPLY')">発注書</button>
      <button mat-menu-item (click)="download_csv('KEEP')">在庫確認票</button>
    </mat-menu>
    <button mat-button><a mat-button
        href="https://mwj001-my.sharepoint.com/:x:/g/personal/asago00_mwj001_onmicrosoft_com/EdJVQxKeKFRCr0sV1ebScewBQX6bPjCc8acDLL5VzwsIJQ?e=5HEIZ5"
        target="_blank">
        <mat-icon>help</mat-icon>ヘルプ
      </a></button>
  </div>
</mat-toolbar>
<form [formGroup]="form" fxLayout="row wrap" fxLayoutGap="5px">
  <mat-card>
    <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-between">
      <mat-card-title>
        {{mode|modetxt}}基本情報
      </mat-card-title>
      <mat-form-field>
        <mat-label>発注伝票ステータス</mat-label>
        <mat-select [value]="form.getRawValue().hdstatus" disabled>
          <mat-option *ngFor="let sval of bunsrv.hdstatus" [value]="sval.value">
            {{sval.viewval}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-tmstmp></app-tmstmp>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="start end">
        <mat-form-field style="width: 7em;">
          <mat-label>発注日</mat-label>
          <input tabIndex="1" matInput [matDatepicker]="picker" formControlName="day" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <span class="ybtxt">{{form.value.day | jdate}}</span>
        <div class="mat-form-field mat-form-field-infix">
          <mat-checkbox formControlName="autoproc">自動仕入処理</mat-checkbox>
        </div>
        <mat-form-field style="width: 10em;">
          <mat-label>仕入先</mat-label>
          <input tabIndex="2" matInput formControlName="vcode" required (keydown.f4)="vcdHelp('vcode')"
            (change)="updVcd($event.target.value)">
          <button mat-icon-button matSuffix (click)="vcdHelp('vcode')" *ngIf="frmArr.enabled">
            <mat-icon>find_replace</mat-icon>
          </button>
          <button mat-icon-button matSuffix (click)="usrsrv.openMst('mstvendor',form.value.vcode)">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </mat-form-field>
        <span class="nmtxt">{{form.getRawValue().vcode | vcdtxt}}</span>
        <mat-form-field>
          <mat-label>倉庫コード</mat-label>
          <mat-select formControlName="soko" required>
            <mat-option *ngFor="let sval of soksrv.scds" [value]="sval.value">
              {{sval.viewval}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>担当者</mat-label>
          <mat-select #msel1 formControlName="tcode" (keydown.enter)="msel1.close()">
            <mat-option *ngFor="let sval of stfsrv.tcds" [value]="sval.value" required>
              {{sval.viewval}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <a id="png-download" data-type="image/png"></a> -->
        <!-- <img [src]="srcpng"> -->
        <!-- onError="this.onError=null;this.src='assets/noimage.gif';" style="width:50px;"></a> -->
        <mat-form-field style="width: 5em;">
          <mat-label>仕入先ﾏｽﾀ税区分</mat-label>
          <mat-select #msel2 formControlName="mtax" required (keydown.enter)="msel2.close()">
            <mat-option *ngFor="let sval of bunsrv.mtax" [value]="sval.value">
              {{sval.viewval}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width:4em;">
          <mat-label>通貨</mat-label>
          <mat-select #msel3 formControlName="currency" (keydown.enter)="msel3.close()">
            <mat-option value="JPY">JPY</mat-option>
            <mat-option value="USD">USD</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLafxLayout="row wrap" fxLayoutGap="5px">
        <mat-form-field class="txtar">
          <mat-label>伝票備考</mat-label>
          <textarea matInput formControlName="dbiko" matTextareaAutosize></textarea>
        </mat-form-field>
        <mat-form-field class="txtar">
          <mat-label>社内向け備考</mat-label>
          <textarea matInput formControlName="inbiko" matTextareaAutosize></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px" style="height: 40px;">
      <mat-card-title>発注明細</mat-card-title>
      <mat-form-field style="width:6em;">
        <mat-label>商品計</mat-label>
        <input matInput [value]="form.value.gtotal | number" class="i_num" disabled>
      </mat-form-field>
      <mat-form-field style="width:6em;">
        <mat-label>外税対象額</mat-label>
        <input matInput [value]="form.value.ttotal | number" class="i_num" disabled>
      </mat-form-field>
      <mat-form-field style="width:6em;">
        <mat-label>消費税</mat-label>
        <input matInput [value]="form.value.tax | number" class="i_num" disabled>
      </mat-form-field>
      <mat-form-field style="width:6em;">
        <mat-label>税込合計額</mat-label>
        <input matInput [value]="form.value.total | number" class="i_num" disabled>
      </mat-form-field>
    </mat-card-header>
    <mat-card-content>
      <app-hmeitbl [parentForm]="form"></app-hmeitbl>
    </mat-card-content>
  </mat-card>
</form>