<mat-toolbar color="primary" class="toolbar mat-elevation-z8">
  <div class="icon-area" fxLayout="row wrap">
    <button mat-button (click)="modeToCre()" [style.display]="mode==3 ? 'block' : 'none'">
      <mat-icon>add_box</mat-icon>新規
    </button>
    <button mat-button (click)="modeToUpd()" [style.display]="mode==3 && this.denno ? 'block' : 'none'">
      <mat-icon>edit</mat-icon>編集
    </button>
    <button mat-button (click)="save()" [style.display]="mode==3 ? 'none' : 'block'">
      <mat-icon>save</mat-icon>保存
    </button>
    <button mat-button (click)="cancel()" [style.display]="mode==3 ? 'none' : 'block'">
      <mat-icon>cancel</mat-icon>中止
    </button>
    <mat-form-field fxFlex="0 0 12em" fxFlexAlign="end" class="frm-fld-in-bar">
      <mat-label>発注伝票番号</mat-label>
      <input matInput [(ngModel)]="denno" tabIndex="1" (keyup.enter)="refresh()" (keydown.f4)="dennoHelp()"
        maxlength="10" (blur)="refresh()" [ngModelOptions]="{standalone: true}" [disabled]="mode==1">
      <button mat-button mat-icon-button matSuffix (click)="dennoHelp()"
        [style.display]="mode==3 ? 'inline-block' : 'none'">
        <mat-icon>find_replace</mat-icon>
      </button>
    </mat-form-field>
    <button mat-button (click)="test(1)" [style.display]="mode==1 ? 'none' : 'inline-block'">
      <mat-icon>history</mat-icon>操作ログ
    </button>
    <a id="csv-donwload" data-type="text/csv"></a>
    <button mat-button [matMenuTriggerFor]="papermenu">
      <mat-icon>description</mat-icon>帳票
    </button>
    <mat-menu #papermenu="matMenu">
      <button mat-menu-item (click)="download_csv('SUPPLY')">発注書</button>
      <button mat-menu-item (click)="download_csv('KEEP')">在庫確認票</button>
    </mat-menu>
    <button mat-button><a mat-button
        href="https://mwj001-my.sharepoint.com/:x:/g/personal/asago00_mwj001_onmicrosoft_com/EdJVQxKeKFRCr0sV1ebScewBQX6bPjCc8acDLL5VzwsIJQ?e=5HEIZ5"
        target="_blank">
        <mat-icon>help</mat-icon>ヘルプ
      </a></button>
  </div>
</mat-toolbar>
<form [formGroup]="form" fxLayout="row wrap" fxLayoutGap="5px">
  <mat-card>
    <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-between">
      <mat-card-title>
        基本情報
      </mat-card-title>
      <app-tmstmp></app-tmstmp>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="start end">
        <mat-form-field style="width: 7em;">
          <mat-label>発注日</mat-label>
          <input tabIndex="1" matInput [matDatepicker]="picker" formControlName="day" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <span class="ybtxt">{{form.value.day | jdate}}</span>
        <mat-form-field style="width: 7em;">
          <mat-label>仕入先</mat-label>
          <input tabIndex="1" matInput formControlName="vcode" required (blur)="setVcdtxt()"
            (keydown.f4)="vcdHelp('vcode')">
          <button mat-button mat-icon-button matSuffix (click)="usrsrv.openMst('mstvendor',form.value.vcode)"
            *ngIf="vcdtxt">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </mat-form-field>
        <span class="nmtxt">{{vcdtxt}}</span>
        <mat-form-field>
          <mat-label>担当者</mat-label>
          <mat-select #msel1 tabIndex="2" formControlName="tcode" (keyup.enter)="msel1.close()">
            <mat-option *ngFor="let sval of stfsrv.tcds" [value]="sval.value">
              {{sval.viewval}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLafxLayout="row wrap" fxLayoutGap="5px">
        <mat-form-field style="width: 100%;">
          <mat-label>伝票備考</mat-label>
          <textarea matInput formControlName="dbiko" matTextareaAutosize></textarea>
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <mat-label>社内向け備考</mat-label>
          <textarea matInput formControlName="inbiko" matTextareaAutosize></textarea>
        </mat-form-field>
      </div>
      <mat-card-content>
        <app-hmeitbl [parentForm]="form"></app-hmeitbl>
      </mat-card-content>
    </mat-card-content>
  </mat-card>
</form>