<mat-toolbar style="height:40px;" fxLayout="row" style="text-align:center;">
    <a mat-button mat-icon-button routerLink="/">
        <mat-icon>dashboard</mat-icon>
    </a>
    <a mat-menu-item routerLink="/frmsales">受注伝票</a>
    <a mat-menu-item>受注履歴</a>
    <button mat-button [matMenuTriggerFor]="cust">顧客関連</button>
    <mat-menu #cust="matMenu">
        <a mat-menu-item routerLink="/mstmember">顧客マスタ</a>
        <a mat-menu-item>掛率表</a>
        <a mat-menu-item>ＤＭ抽出</a>
        <a mat-menu-item>ＤＭリスト</a>
        <a mat-menu-item routerLink="/frmtreat">問合せ・対応</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="depo">売上入金</button>
    <mat-menu #depo="matMenu">
        <a mat-menu-item>入金伝票</a>
        <a mat-menu-item>一括入金処理</a>
        <a mat-menu-item>代引データ読込</a>
        <a mat-menu-item>掛売請求</a>
        <a mat-menu-item>掛売入金</a>
        <a mat-menu-item>請求予定一覧表</a>
        <a mat-menu-item>請求書出力</a>
        <a mat-menu-item>未入金一覧表</a>
        <a mat-menu-item>ＮＰ状況確認</a>
        <a mat-menu-item>ＮＰデータ編集</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="prin">印刷関連</button>
    <mat-menu #prin="matMenu">
        <a mat-menu-item>納品書出力</a>
        <a mat-menu-item>送り状印刷</a>
        <a mat-menu-item>売上一覧表</a>
        <a mat-menu-item>商品別集計表</a>
        <a mat-menu-item>伝票ﾌﾘｰ別集計表</a>
        <a mat-menu-item>顧客ﾌﾘｰ別集計表</a>
        <a mat-menu-item>顧客別商品集計表</a>
        <a mat-menu-item>商品別順位表</a>
        <a mat-menu-item>顧客別順位表</a>
        <a mat-menu-item>顧客別売上一覧表</a>
        <a mat-menu-item>ファイル出力</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="zaik">在庫関連</button>
    <mat-menu #zaik="matMenu">
        <a mat-menu-item routerLink="/repstock">在庫確認表</a>
        <a mat-menu-item>商品台帳</a>
        <a mat-menu-item>入荷伝票</a>
        <a mat-menu-item>移動伝票</a>
        <a mat-menu-item>展開伝票</a>
        <a mat-menu-item>破棄伝票</a>
        <a mat-menu-item>棚卸処理</a>
        <button mat-menu-item [matMenuTriggerFor]="zaip">在庫印刷</button>
        <mat-menu #zaip="matMenu">
            <a mat-menu-item>在庫一覧表</a>
            <a mat-menu-item>移動伝票一覧表</a>
            <a mat-menu-item>展開伝票一覧表</a>
            <a mat-menu-item>破棄伝票一覧表</a>
            <a mat-menu-item>確保割れ在庫一覧表</a>
            <a mat-menu-item>移動伝票納品書</a>
            <a mat-menu-item>受注在庫集計表</a>
            <a mat-menu-item>受注残確認表</a>
        </mat-menu>
        <button mat-menu-item [matMenuTriggerFor]="souk">倉庫</button>
        <mat-menu #souk="matMenu">
            <a mat-menu-item routerLink="/frmkeep">キープ表確認</a>
            <a mat-menu-item>加工依頼確認</a>
        </mat-menu>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="siir">仕入関連</button>
    <mat-menu #siir="matMenu">
        <a mat-menu-item routerLink="/frmsupply">発注伝票</a>
        <a mat-menu-item>仕入伝票</a>
        <a mat-menu-item>発注履歴</a>
        <a mat-menu-item>仕入一覧表</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="mast">各マスタ</button>
    <mat-menu #mast="matMenu">
        <a mat-menu-item routerLink="/mstgoods">商品マスタ</a>
        <a mat-menu-item routerLink="/mstvendor">仕入先マスタ</a>
        <a mat-menu-item>伝票マスタ</a>
        <a mat-menu-item>倉庫マスタ</a>
        <a mat-menu-item>担当者マスタ</a>
        <button mat-menu-item [matMenuTriggerFor]="mstmenu">
            ﾏｽﾀﾒﾝﾃﾅﾝｽ(一括更新)
        </button>
        <mat-menu #mstmenu="matMenu">
            <button mat-menu-item (click)="dl_kick('BUNRUI_')">分類ﾏｽﾀﾒﾝﾃ</button>
            <button mat-menu-item (click)="dl_kick('GOODS_')">商品ﾏｽﾀﾒﾝﾃ</button>
            <button mat-menu-item (click)="dl_kick('MEMBER_')">顧客ﾏｽﾀﾒﾝﾃ</button>
        </mat-menu>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="syst">システム</button>
    <mat-menu #syst="matMenu">
        <a mat-menu-item>受注テキスト読込</a>
        <a mat-menu-item>マスタデータ読込</a>
        <a mat-menu-item>入金テキスト読込</a>
        <a mat-menu-item>稼働日カレンダ</a>
        <a mat-menu-item>作業ログ</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>設定
    </button>
    <a id="csv-donwload" data-type="text/csv"></a>
    <mat-menu #menu="matMenu">
        <form class="menu-form">
            <a mat-menu-item
                href="https://mwj001-my.sharepoint.com/:x:/g/personal/asago00_mwj001_onmicrosoft_com/EVW5l6FhMOdGuKCnCSPdEnoBSebtCJmimXB7VJSd0kpQYw?e=8aM7JA"
                target="_blank">
                <mat-icon>list_alt</mat-icon>改善要望Excel
            </a>
            <button mat-menu-item [matMenuTriggerFor]="setmenu">
                <mat-icon>settings</mat-icon>初期設定(ﾀﾞｳﾝﾛｰﾄﾞを使用する場合)
            </button>
            <mat-menu #setmenu="matMenu">
                <a mat-menu-item
                    href="https://mwj001-my.sharepoint.com/:x:/g/personal/asago00_mwj001_onmicrosoft_com/EdJVQxKeKFRCr0sV1ebScewBQX6bPjCc8acDLL5VzwsIJQ?e=5XVMJM"
                    target="_blank">初期設定Manual</a>
                <a mat-menu-item href="assets/mwjexe.reg" download="mwjexe.reg">初期設定①</a>
                <a mat-menu-item href="{{usrsrv.system.imgurl + 'psqlodbc_x86.msi'}}"
                    download="psqlodbc_x86.msi">初期設定②</a>
                <a mat-menu-item href="{{usrsrv.system.imgurl + 'psqlodbc_x64.msi'}}"
                    download="psqlodbc_x64.msi">初期設定②'</a>
                <a mat-menu-item href="{{usrsrv.system.imgurl + 'postgresql-12.3-1-windows-x64.exe'}}"
                    download="postgresql-12.3-1-windows-x64.exe">初期設定③</a>
            </mat-menu>
            <button mat-menu-item [matMenuTriggerFor]="colormenu">
                <mat-icon>palette</mat-icon>テーマカラー
            </button>
            <mat-menu #colormenu="matMenu">
                <button mat-menu-item (click)="setColor('indigo-pink')">indigo-pink</button>
                <button mat-menu-item (click)="setColor('deeppurple-amber')">deeppurple-amber</button>
                <button mat-menu-item (click)="setColor('pink-bluegrey')">pink-bluegrey</button>
                <button mat-menu-item (click)="setColor('purple-green')">purple-green</button>
            </mat-menu>
            <div fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>会社</mat-label>
                    <input matInput mat-menu-item style="pointer-events: none" value="{{usrsrv.system.name}}" disabled>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>ユーザ名</mat-label>
                    <input matInput mat-menu-item style="pointer-events: none"
                        value="{{usrsrv.userInfo.nickname}}：{{usrsrv.userInfo.name}}" disabled>
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>接続先DB(切替時画面再読込)</mat-label>
                <input matInput mat-menu-item style="pointer-events: none" value="{{db}}" disabled>
                <button mat-button matSuffix (click)="setDB(true)" *ngIf="db=='本番環境'">テストへ切替</button>
                <button mat-button matSuffix (click)="setDB(false)" *ngIf="db=='テスト環境'">本番へ切替</button>
            </mat-form-field>
            <button mat-menu-item (click)="usrsrv.logout();">
                <mat-icon>exit_to_app</mat-icon>
                <span>ログアウト</span>
            </button>

        </form>
    </mat-menu>
</mat-toolbar>