<mat-toolbar color="primary" class="toolbar" style="width:77%;">

    <div class="icon-area" class="flex flex-nowrap">
        <button mat-button (click)="modeToUpd()" *ngIf="mode==3">
            <mat-icon>edit</mat-icon>
            編集
        </button>
        <button mat-button (click)="save()" [disabled]="form.invalid" *ngIf="mode!=3">
            <span class="material-icons">save</span>
            保存
        </button>
        <button mat-button (click)="cancel()" *ngIf="mode!=3">
            <span class="material-icons">cancel</span>
            中止
        </button>
    </div>
</mat-toolbar>
<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{mcode}} 加工マスタ</h1>
<mat-dialog-content>
    <div class="mat-elevation-z8">
        <ng-container [formGroup]="form">
            <table mat-table formArrayName="mtbl" [dataSource]="dataSource" aria-label="Elements">
                <ng-container matColumnDef="prcno">
                    <th mat-header-cell *matHeaderCellDef>パターン№
                        <button mat-icon-button (click)="insRow(0)" *ngIf="frmArr.enabled">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                    </th>
                    <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                        <mat-form-field style="width:5em;">
                            <input matInput [value]="frmArr.getRawValue()[i]['prcno']" class="i_num" disabled>
                            <button mat-icon-button matPrefix (click)="insRow(i+1)" *ngIf="frmArr.enabled">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                            <button mat-icon-button matPrefix (click)="delRow(i)" *ngIf="frmArr.enabled">
                                <mat-icon>remove_circle</mat-icon>
                            </button>
                        </mat-form-field>
                    </td>
                </ng-container>
                <!-- <ng-container matColumnDef="patno">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                        <mat-form-field style="width:5em;">
                            <input matInput formControlName="">
                        </mat-form-field>
                    </td>
                </ng-container> -->
                <ng-container matColumnDef="prcname">
                    <th mat-header-cell *matHeaderCellDef>加工名称</th>
                    <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
                        <mat-form-field style="width:20em;">
                            <input matInput formControlName="prcname">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="prcbody">
                    <th mat-header-cell *matHeaderCellDef>加工ボディ</th>
                    <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                        <mat-form-field style="width:7em;">
                            <mat-select formControlName="prcbody">
                                <mat-option *ngFor="let sval of bunsrv.kbn['prcbody']" [value]="sval.value">
                                    {{sval.viewval}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="vcode">
                    <th mat-header-cell *matHeaderCellDef>仕入先</th>
                    <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
                        <mat-form-field>
                            <input matInput formControlName="vcode" (keydown.f4)="vcdHelp(i)">
                            <button mat-icon-button matSuffix (click)="vcdHelp(i)" *ngIf="frmArr.enabled">
                                <mat-icon>find_replace</mat-icon>
                            </button>
                            <button mat-icon-button matSuffix *ngIf="frmArr.getRawValue()[i]['vcode']"
                                (click)="usrsrv.openMst('mstvendor',frmArr.getRawValue()[i]['vcode'])">
                                <mat-icon>open_in_new</mat-icon>
                            </button>
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef>商品Grp</th>
                    <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
                        <mat-form-field>
                            <input matInput formControlName="code" (keydown.f4)="grpcdHelp(i)">
                            <button mat-icon-button matSuffix (click)="grpcdHelp(i)" *ngIf="frmArr.enabled">
                                <mat-icon>find_replace</mat-icon>
                            </button>
                            <button mat-icon-button matSuffix *ngIf="frmArr.getRawValue()[i]['code']"
                                (click)="usrsrv.openMst('mstgoods',frmArr.getRawValue()[i]['code'])">
                                <mat-icon>open_in_new</mat-icon>
                            </button>
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="memo">
                    <th mat-header-cell *matHeaderCellDef>備考</th>
                    <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
                        <mat-form-field>
                            <input matInput formControlName="memo">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="tanka">
                    <th mat-header-cell *matHeaderCellDef class="i_num">単価</th>
                    <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
                        <mat-form-field style="width:6em;">
                            <input matInput numInput formControlName="tanka" class="i_num">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="genka">
                    <th mat-header-cell *matHeaderCellDef class="i_num">仕入値</th>
                    <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
                        <mat-form-field style="width:6em;">
                            <input matInput numInput formControlName="genka" class="i_num">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="posi01">
                    <th mat-header-cell *matHeaderCellDef>加工1(胸)</th>
                    <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
                        <mat-form-field style="width:5em;">
                            <input matInput formControlName="posi01" (keydown.f4)="prcprtHelp(i,'posi01')">
                            <button mat-icon-button matSuffix (click)="prcprtHelp(i,'posi01')" *ngIf="frmArr.enabled">
                                <mat-icon>find_replace</mat-icon>
                            </button>
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="posi02">
                    <th mat-header-cell *matHeaderCellDef>加工2</th>
                    <td mat-cell *matCellDef="let row; let i =index" [formGroupName]="i">
                        <mat-form-field style="width:5em;">
                            <input matInput formControlName="posi02" (keydown.f4)="prcprtHelp(i,'posi02')">
                            <button mat-icon-button matSuffix (click)="prcprtHelp(i,'posi02')" *ngIf="frmArr.enabled">
                                <mat-icon>find_replace</mat-icon>
                            </button>
                        </mat-form-field>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-container>
    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">閉じる</button>
</mat-dialog-actions>