// ::ng-deep.mat-mdc-form-field.frm-fld-in-bar {
//     .mat-form-text-field-wrapper {
//         padding: 0;
//     }
//     .mat-form-field-underline {
//         bottom: 0;
//     }
// }

body {
  transform-origin: top left;
  transform: scale(0.8);
  width: 125%; 
}

:host ::ng-deep.mat-mdc-form-field input:disabled {
  color: black !important;
}
// ::ng-deep.mat-form-field input:disabled {
//   color: black !important;
// }
// ::ng-deep.mat-mdc-form-field select:disabled {
//   color: black;
// }
:host ::ng-deep.mat-mdc-select-value-text {
  color: black !important;
}
// Add in style.scss as we are overriding css of global mat-select class which is part of other module.
:host ::ng-deep.mat-mdc-form-field .mat-select .mat-select-value {
  color: black;
}
.RouterOutlet {
    padding-top: 35px;
}
mat-toolbar {
    position: fixed;
    z-index: 100; 
}
mat-toolbar input {
  color: black;
  border-radius: 5px;
  padding-left: .4em;
}
mat-toolbar + *{
    padding-top: 70px;    
}
mat-form-field {
    height: 3em;
    // font-size: 1em;
    padding-left: .4em;
  }
:host ::ng-deep.mat-mdc-text-field-wrapper {
    padding:0;
}
:host ::ng-deep.mat-mdc-form-field-subscript-wrapper {
  display:none;
}
.nmtxt {
  padding-bottom: 5px;
  margin-right: 7px; 
  width: 15em;
}  

.ybtxt {
  padding-bottom: 5px;
  margin-right: 7px; 
}  

.i_num {
  text-align: right;
  margin:0px;
}

// .fw_b * {
//   // font-weight:bold;
//   font-size:large;
// }

.txtar {
  width: 100%;
  margin-top:5px;
}

mat-card-header {
  padding-bottom: 1em;
}

::ng-deep .mat-tooltip  {
  white-space: pre-line !important;
  font-size: 20px !important;
}