<mat-toolbar color="primary" [color]="mode==3 ? 'primary' : mode==2 ? 'warn' : 'accent'" class="toolbar"
  style="width:77%;">
  <div class="icon-area" class="flex flex-wrap">
    <button mat-flat-button (click)="modeToCre()">
      <mat-icon>add_box</mat-icon>
      新規
    </button>
    <button mat-button (click)="modeToUpd()" *ngIf="mode==3">
      <mat-icon>edit</mat-icon>
      編集
    </button>
    <button mat-flat-button (click)="save()" [disabled]="form.invalid" *ngIf="mode!=3">
      <span class="material-icons" matTooltip="{{getInvalid()}}" matTooltipClass="ttips">save</span>
      保存
    </button>
    <button mat-flat-button (click)="cancel()" *ngIf="mode!=3">
      <span class="material-icons">cancel</span>
      中止
    </button>
  </div>
  <!-- <mat-form-field class="flex items-end"> -->
  <label>枝番</label>
  <input [(ngModel)]="eda" (keyup.enter)="onEnter()" (keydown.f4)="edaHelp()" (blur)="refresh()"
    [ngModelOptions]="{standalone: true}" disabled>
  <!-- <div [style.display]="edasrv.adrs.length>0 ? 'inline' : 'none'"> -->
  <button mat-icon-button matSuffix (click)="setNext()">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
  <button mat-icon-button matSuffix (click)="setPrev()">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <button mat-icon-button matSuffix (click)="edaHelp()">
    <mat-icon>find_replace</mat-icon>
  </button>
  <!-- </div> -->
  <!-- </mat-form-field> -->
</mat-toolbar>
<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{mode|modetxt}}{{memsrv.mcode}} 別納先
</h1>

<mat-dialog-content>
  <form [formGroup]="form">
    <app-address [formName]="'addr'"></app-address>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="close()">閉じる</button>
  <button mat-raised-button [color]="'primary'" (click)="setEda()" *ngIf="flg">枝番をセット</button>
</mat-dialog-actions>