<mat-toolbar color="primary" class="toolbar" style="width:77%;">
  <div class="icon-area" fxLayout="row wrap">
    <button mat-button (click)="modeToCre()" *ngIf="mode!=1">
      <mat-icon>add_box</mat-icon>
      新規
    </button>
    <button mat-button (click)="modeToUpd()" *ngIf="mode==3">
      <mat-icon>edit</mat-icon>
      編集
    </button>
    <button mat-button (click)="save()" [disabled]="form.invalid" *ngIf="mode!=3">
      <span class="material-icons" matTooltip="{{getInvalid()}}" matTooltipClass="ttips">save</span>
      保存
    </button>
    <button mat-button (click)="cancel()" *ngIf="mode!=3">
      <span class="material-icons">cancel</span>
      中止
    </button>
  </div>
  <mat-form-field fxFlexAlign="end" class="frm-fld-in-bar">
    <mat-label>枝番</mat-label>
    <input matInput [value]="eda" (ngModelChange)="eda=$event" (keyup.enter)="onEnter()" (keydown.f4)="edaHelp()"
      (blur)="refresh()" disabled>
    <!-- <div [style.display]="edasrv.adrs.length>0 ? 'inline' : 'none'"> -->
    <button mat-button mat-icon-button matSuffix (click)="setNext()" *ngIf="mode!=1">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <button mat-button mat-icon-button matSuffix (click)="setPrev()" *ngIf="mode!=1">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <button mat-button mat-icon-button matSuffix (click)="edaHelp()" *ngIf="mode!=1">
      <mat-icon>find_replace</mat-icon>
    </button>
    <!-- </div> -->
  </mat-form-field>
</mat-toolbar>
<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{mcode}} 別納先</h1>

<mat-dialog-content>
  <form [formGroup]="form">
    <app-address [formName]="'addr'"></app-address>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">閉じる</button>
  <button class="mat-raised-button mat-primary"(click)="set_eda()" *ngIf="flg">枝番をセット</button>
</mat-dialog-actions>