<mat-toolbar color="primary" class="toolbar">
  <div class="icon-area" fxLayout="row wrap">
    <button mat-button (click)="modeToCre()" [style.display]="mode==1 ? 'none' : 'block'">
      <mat-icon>add_box</mat-icon>
      新規
    </button>        
    <button mat-button (click)="modeToUpd()" [style.display]="mode==3 ? 'block' : 'none'">
      <mat-icon>edit</mat-icon>
      編集
    </button>
    <button mat-button (click)="save()" [style.display]="mode==3 ? 'none' : 'block'">
      <mat-icon>save</mat-icon>
      保存
    </button>
    <button mat-button (click)="cancel()" [style.display]="mode==3 ? 'none' : 'block'">
      <mat-icon>cancel</mat-icon>
      中止
    </button>
  </div>
  <mat-form-field fxFlexAlign="end" class="frm-fld-in-bar">
    <mat-label>枝番</mat-label>
    <input matInput [ngModel]="eda" (ngModelChange)="eda=$event" (keyup.enter)="onEnter()" (keydown.f4)="edaHelp()"
     (blur)="refresh()" [ngModelOptions]="{standalone: true}" required>
    <!-- <div [style.display]="edasrv.adrs.length>0 ? 'inline' : 'none'"> -->
    <button mat-button mat-icon-button matSuffix (click)="setNext()" [style.display]="mode==3 ? 'inline-block' : 'none'">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <button mat-button mat-icon-button matSuffix (click)="setPrev()" [style.display]="mode==3 ? 'inline-block' : 'none'">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <button mat-button mat-icon-button matSuffix (click)="edaHelp()" [style.display]="mode==3 ? 'inline-block' : 'none'">
        <mat-icon>find_replace</mat-icon>
    </button>
    <!-- </div> -->
  </mat-form-field>
</mat-toolbar>
<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{mcode}} 別納先</h1>

<mat-dialog-content>
    <form [formGroup]="form">       
        <app-address [formName]="'addr'"></app-address>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">閉じる</button>
  <!-- <button class="mat-raised-button mat-primary"(click)="sel_gcd(this.gdsservice.selgd)">Set</button> -->
</mat-dialog-actions>