<div class="mat-elevation-z8">
  <ng-container [formGroup]="parentForm">
    <table mat-table formArrayName="mtbl" [dataSource]="dataSource" aria-label="Elements">
      <!-- <table mat-table multiTemplateDataRows formArrayName="mtbl" [dataSource]="dataSource" aria-label="Elements"> -->
      <ng-container matColumnDef="action">
        <th mat-header-cell fxLayout="row" *matHeaderCellDef [style.display]="frmArr.enabled ? 'block':'none'">
          <span>行挿入</span>
          <button mat-icon-button (click)="ins_row(getActualIndex(0))">
            <mat-icon>add_circle</mat-icon>
          </button>
        </th>
        <td mat-cell fxLayout="row" *matCellDef="let row; let i = index" [style.display]="frmArr.enabled ? 'block':'none'">
          <button mat-icon-button matPrefix (click)="ins_row(getActualIndex(i)+1)">
            <mat-icon>add_circle</mat-icon>
          </button>
          <button mat-icon-button matPrefix (click)="del_row(getActualIndex(i))"
            *ngIf="!frmArr.getRawValue()[getActualIndex(i)]['ins']">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="gcode">
        <th mat-header-cell *matHeaderCellDef>商品コード</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="getActualIndex(i)">
          <mat-form-field style="width:10em;">
            <input [tabIndex]="hidx + i * mcols + 1" matInput formControlName="gcode"
              (change)="updGds(getActualIndex(i),$event.target.value)" [disabled]="!frmArr.getRawValue()[getActualIndex(i)]['ins']">
              <!-- [disabled]="frmArr.getRawValue()[getActualIndex(i)]['ins']"> -->
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="gtext">
        <th mat-header-cell *matHeaderCellDef>商品名</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="getActualIndex(i)">
          <mat-form-field style="width:20em;">
            <input [tabIndex]="hidx + i * mcols + 2" matInput formControlName="gtext">
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef>サイズ</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="getActualIndex(i)">
          <mat-form-field style="width:6em;">
            <input [tabIndex]="hidx + i * mcols + 3" matInput formControlName="size">
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef>色</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="getActualIndex(i)">
          <mat-form-field style="width:6em;">
            <input [tabIndex]="hidx + i * mcols + 4" matInput formControlName="color">
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="irisu">
        <th mat-header-cell *matHeaderCellDef>出荷数</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="getActualIndex(i)">
          <mat-form-field style="width:4em;">
            <input [tabIndex]="hidx + i * mcols + 5" type="number" matInput formControlName="irisu" class="i_num">
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="iriunit">
        <th mat-header-cell *matHeaderCellDef>単位</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="getActualIndex(i)">
          <mat-form-field style="width:4em;">
            <!-- <input [tabIndex]="hidx + i * mcols + 6" matInput formControlName="iriunit"> -->
            <mat-select [tabIndex]="hidx + i * mcols + 6" #msel10 formControlName="iriunit" required
              (keyup.enter)="msel10.close()">
              <mat-option value="着">着</mat-option>
              <mat-option value="本">本</mat-option>
              <mat-option value="組">組</mat-option>
              <mat-option value="個">個</mat-option>
              <mat-option value="枚">枚</mat-option>
              <mat-option value="台">台</mat-option>
              <mat-option value="ｾｯﾄ">ｾｯﾄ</mat-option>
              <mat-option value="ｹｰｽ">ｹｰｽ</mat-option>
              <mat-option value="字">字</mat-option>
              <mat-option value="袋">袋</mat-option>
              <mat-option value="件">件</mat-option>
              <mat-option value="足">足</mat-option>
              <mat-option value="冊">冊</mat-option>
              <mat-option value="缶">缶</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="gskbn">
        <th mat-header-cell *matHeaderCellDef>数量区分</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="getActualIndex(i)">
          <mat-form-field style="width:8em;">
            <mat-select [tabIndex]="hidx + i * mcols + 7" #msel11 formControlName="gskbn" required
              (keyup.enter)="msel11.close()">
              <mat-option *ngFor="let sval of bunsrv.gskbn" [value]="sval.value">
                {{sval.viewval}}
              </mat-option>
            </mat-select>
            <button mat-flat-button matSuffix (click)="diaGzai()"
              *ngIf="frmArr.getRawValue()[getActualIndex(i)]['gskbn']==1"
              matTooltip="{{getGzai(frmArr.getRawValue()[i]['gcode'])}}" matTooltipClass="ttips">内訳</button>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="jan">
        <th mat-header-cell *matHeaderCellDef>janコード</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="getActualIndex(i)">
          <mat-form-field style="width:10em;">
            <input #ginp01 matInput formControlName="jan">
            <button mat-flat-button matSuffix (click)="setJan(getActualIndex(i))"
              *ngIf="ginp01.disabled==false && !frmArr.getRawValue()[getActualIndex(i)]['jan']">採番</button>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>重量</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="getActualIndex(i)" class="i_num">
          <mat-form-field style="width:6em;">
            <input [tabIndex]="hidx + i * mcols + 8" matInput formControlName="weight">
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="tkbn">
        <th mat-header-cell *matHeaderCellDef>中止区分</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="getActualIndex(i)">
          <mat-form-field style="width:5em;">
            <mat-select #msel12 formControlName="tkbn" required (keyup.enter)="msel12.close()">
              <mat-option *ngFor="let sval of bunsrv.tkbn" [value]="sval.value">
                {{sval.viewval}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="zkbn">
        <th mat-header-cell *matHeaderCellDef>在庫管理</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="getActualIndex(i)">
          <mat-form-field style="width:5em;">
            <mat-select [tabIndex]="hidx + i * mcols + 9" #msel13 formControlName="zkbn" required
              (keyup.enter)="msel13.close()">
              <mat-option *ngFor="let sval of bunsrv.zkbn" [value]="sval.value">
                {{sval.viewval}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="max">
        <th mat-header-cell *matHeaderCellDef>１個口最大</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="getActualIndex(i)">
          <mat-form-field style="width:4em;">
            <input type="number" matInput formControlName="max" class="i_num">
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="send">
        <th mat-header-cell *matHeaderCellDef>送料区分</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="getActualIndex(i)">
          <mat-form-field style="width:4em;">
            <mat-select [tabIndex]="hidx + i * mcols + 10" #msel14 formControlName="send" (keyup.enter)="msel14.close()">
              <mat-option value=""></mat-option>
              <mat-option value="A">A</mat-option>
              <mat-option value="B">B</mat-option>
              <mat-option value="C">C</mat-option>
              <mat-option value="D">D</mat-option>
              <mat-option value="E">E</mat-option>
              <mat-option value="F">F</mat-option>
              <mat-option value="G">G</mat-option>
              <mat-option value="H">H</mat-option>
              <mat-option value="I">I</mat-option>
              <mat-option value="J">J</mat-option>
              <mat-option value="K">K</mat-option>
              <mat-option value="L">L</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="ordering">
        <th mat-header-cell *matHeaderCellDef>受発注品</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="getActualIndex(i)">
          <!-- <mat-form-field> -->
          <mat-checkbox formControlName="ordering" style="width:4em;"></mat-checkbox>
          <!-- </mat-form-field>                 -->
        </td>
      </ng-container>
      <ng-container matColumnDef="koguchi">
        <th mat-header-cell *matHeaderCellDef>個口数</th>
        <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="getActualIndex(i)" class="i_num">
          <mat-form-field style="width:4em;">
            <input [tabIndex]="hidx + i * mcols + 11" type="number" matInput formControlName="koguchi">
          </mat-form-field>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>
  <mat-paginator [pageSizeOptions]="[5,10, 20, 50, 100]"></mat-paginator>
</div>