<mat-toolbar [color]="mode==3 ? 'primary' : mode==2 ? 'warn' : 'accent'" class="toolbar mat-elevation-z8">
  <div class="icon-area" fxLayout="row wrap">
    <button mat-button (click)="modeToCre()" *ngIf="mode==3">
      <mat-icon>add_box</mat-icon>新規
    </button>
    <button mat-button (click)="modeToUpd()" *ngIf="mode==3 && this.gdssrv.grpcd">
      <mat-icon>edit</mat-icon>編集
    </button>
    <button mat-button (click)="save()" [disabled]="form.invalid" *ngIf="mode!=3">
      <mat-icon matTooltip="{{getInvalid()}}" matTooltipClass="ttips">save</mat-icon>保存
    </button>
    <button mat-button (click)="cancel()" *ngIf="mode!=3">
      <mat-icon>cancel</mat-icon>中止
    </button>
    <mat-form-field fxFlex="0 0 12em" fxFlexAlign="end" class="frm-fld-in-bar">
      <mat-label>商品(ｸﾞﾙｰﾌﾟ)ｺｰﾄﾞ</mat-label>
      <input matInput [ngModel]="gdssrv.grpcd" gcdInput (ngModelChange)="gdssrv.grpcd=$event" (keydown.f4)="grpcdHelp()"
        [disabled]="mode==2 && form.dirty" (keyup.enter)="get_ggroup(gdssrv.grpcd)" (blur)="refresh()"
        [ngModelOptions]="{standalone: true}">
      <!-- <button mat-button mat-icon-button matSuffix (click)="setNext()" [style.display]="mode==3 ? 'inline-block' : 'none'">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button mat-button mat-icon-button matSuffix (click)="setPrev()" [style.display]="mode==3 ? 'inline-block' : 'none'">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button> -->
      <button mat-button mat-icon-button matSuffix (click)="grpcdHelp()" *ngIf="mode==3">
        <mat-icon>find_replace</mat-icon>
      </button>
    </mat-form-field>
    <button mat-button (click)="diaImage()">
      <mat-icon>perm_media</mat-icon>画像・仕様書
    </button>
    <!-- <button mat-button (click)="toTreat()" *ngIf="mode!==1">
        <mat-icon>question_answer</mat-icon>問合せ
      </button> -->
    <button mat-button><a mat-button [routerLink]="['/frmtreat']" [queryParams]="{ grpcd: gdssrv.grpcd}"
        *ngIf="mode!==1" target="_blank">
        <mat-icon>question_answer</mat-icon>問合せ
      </a></button>
    <button mat-button (click)="test()">
      <!-- <button mat-button (click)="refresh()"> -->
      <mat-icon>autorenew</mat-icon>再表示
    </button>
    <button mat-button><a mat-button
        href="https://mwj001-my.sharepoint.com/:x:/g/personal/asago00_mwj001_onmicrosoft_com/EdJVQxKeKFRCr0sV1ebScewBQX6bPjCc8acDLL5VzwsIJQ?e=5HEIZ5"
        target="_blank">
        <mat-icon>help</mat-icon>ヘルプ
      </a></button>
  </div>
</mat-toolbar>
<form [formGroup]="form" fxLayout="column" (keydown.enter)="canEnter($event)">
  <!-- <div > -->
  <mat-card fxLayout="column" fxLayoutGap="5px">
    <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-between">
      <mat-card-title>
        {{mode|modetxt}}基本情報
      </mat-card-title>
      <app-tmstmp></app-tmstmp>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column">
        <div fxLayoutGap="5px">
          <mat-form-field style="width:20em">
            <mat-label>グループ名</mat-label>
            <input tabIndex="1" matInput formControlName="name" required id="first-fld">
          </mat-form-field>
          <mat-form-field>
            <mat-label>フリガナ</mat-label>
            <input tabIndex="2" matInput formControlName="kana" required (change)="updKana($event.target.value)">
          </mat-form-field>
          <mat-form-field style="width:8em">
            <mat-label>商品区分</mat-label>
            <mat-select tabIndex="3" #msel01 formControlName="gkbn" required (keydown.enter)="msel01.close()">
              <mat-option *ngFor="let sval of bunsrv.kbn.gkbn" [value]="sval.value">
                {{sval.viewval}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>ジャンル</mat-label>
            <mat-select tabIndex="4" #msel02 formControlName="genre" required (keydown.enter)="msel02.close()">
              <mat-option *ngFor="let sval of bunsrv.kbn.genre" [value]="sval.value">
                {{sval.viewval}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="width: 7em;">
            <mat-label>仕入先</mat-label>
            <input tabIndex="5" matInput formControlName="vcode" (keydown.f4)="vcdHelp()">
            <button mat-button mat-icon-button matSuffix (click)="vcdHelp()" *ngIf="mode!==3">
              <mat-icon>find_replace</mat-icon>
            </button>
          </mat-form-field>
          <!-- <span class="nmtxt">{{form.value.vcode.toString()}}</span> -->
          <span class="nmtxt">{{form.value.vcode | vcdtxt}}</span>
          <mat-form-field>
            <mat-label>素材</mat-label>
            <input tabIndex="6" matInput formControlName="sozai">
          </mat-form-field>
          <!-- <mat-checkbox formControlName="del">削除済</mat-checkbox> -->
        </div>
        <div fxLafxLayout="row wrap" fxLayoutGap="5px">
          <mat-form-field class="txtar">
            <mat-label>備考</mat-label>
            <textarea tabIndex="7" matInput formControlName="bikou" matTextareaAutosize></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        商品コード一覧
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-gdstbl [parentForm]="form" (action)="ins_tnkrow($event)"></app-gdstbl>
      <!-- <app-jmeitbl [parentForm]="form"></app-jmeitbl> -->
    </mat-card-content>
  </mat-card>
  <!-- </div> -->
  <!-- <div fxLayout="row wrap"> -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        商品単価一覧
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-gtnktbl [parentForm]="form"></app-gtnktbl>
    </mat-card-content>
  </mat-card>
  <!-- </div> -->
</form>