<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom:10px;">
    <h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle style="cursor: move;">商品画像</h1>
    <button mat-flat-button (click)="close()">閉じる</button>
</mat-dialog-actions>
<mat-dialog-content>
    <div fxLafxLayout="column">
        <mat-form-field style="width: 100%;">
            <mat-label>カタログコメント</mat-label>
            <textarea matInput [(ngModel)]=cat matTextareaAutosize></textarea>
        </mat-form-field>
        <div fxLayout="row" style="width: 100%;margin-top: 5px;">
            <mat-form-field style="width:70em;height:30px;" appearance="outline">
                <mat-label>仕様書Excel URL</mat-label>
                <input type="url" matInput [(ngModel)]=url style="height:30px;">
            </mat-form-field>
            <button mat-flat-button matSuffix color="accent" (click)="openXlsx()" *ngIf="url" fxLayoutAlign="end"
                style="margin-top:5px;">開く</button>
            <button mat-flat-button matSuffix (click)="saveUrl()" color="primary" fxLayoutAlign="end"
                style="margin-top:5px;">URL・ｺﾒﾝﾄを保存</button>
        </div>
        <mat-grid-list cols="3">
            <ng-container *ngFor="let row of noimgs;let i=index">
                <mat-grid-tile>
                    <img #img
                        src="{{usrsrv.system.imgurl + 'goods/' + grpcd + '_' + i.toString() + '.jpg?' + usrsrv.formatTime()}}"
                        width="300" height="300" onload="row=0;"
                        onError="this.onError=null;this.src='assets/noimage.gif';">
                    <mat-grid-tile-footer fxLayoutAlign="space-between" style="height:30px;">
                        <input name="upfile" style="display: none" type="file" #upfile accept=".jpg"
                            (change)="onchange(upfile.files,i.toString())" capture="enviroment" />
                        <button mat-raised-button color="primary" class="file-select-button"
                            (click)="onClickFileInputButton(i)">
                            ファイルを選択して登録
                        </button>
                        <!-- <button mat-flat-button matSuffix color="accent" (click)="test(img['src'].includes('noimage.gif'))">画像削除</button> -->
                        <button mat-flat-button matSuffix color="accent" (click)="delImg(i.toString())"
                            *ngIf="!img['src'].includes('noimage.gif')">画像取消</button>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
            </ng-container>
        </mat-grid-list>
    </div>
</mat-dialog-content>
<!-- <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">閉じる</button>
</mat-dialog-actions> -->